.button {
    background-color: var(--black);
    color: white;

    border-radius: 5px;
    padding: 10px 15px;

    border: none;

    font-family: inherit;

    cursor: pointer;
}

.button:hover {
    background-color: var(--black);
}