.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    max-width: 1240px;

    gap: 16px;
    padding: 0 36px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .main {
        grid-template-columns: 1fr 1fr;
        padding: 0 20px;
    }
}

@media screen and (max-width: 580px) {
    .main {
        grid-template-columns: 1fr;
        padding: 0 8px;
    }
}